In [1]:
import numpy as np  
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [2]:
data = pd.read_csv("D:/Code/python/mat3533/practice06/data/Analysis-Portfolio-Task-Data.csv")
data

,CustomerID,Shopping Basket,Gender,Age,Store Type,Value Products,Brand Products,Top Fresco Products
0,20358063,48.81,Male,26,Convenient Stores,8,2,1
1,24635139,33.44,Female,33,Superstore,6,5,1
2,27584479,131.57,Male,56,Online,35,8,12
3,28008212,20.02,Male,27,Convenient Stores,0,1,1
4,29130973,95.54,Female,55,Online,38,18,20
...,...,...,...,...,...,...,...,...
70,86596295,75.23,Female,53,Superstore,9,14,5
71,88907963,97.21,Female,43,Superstore,18,9,10
72,89074559,77.65,Female,46,Superstore,10,10,9
73,95961294,128.67,Female,48,Superstore,41,15,19
74,99666454,137.39,Male,47,Online,26,16,9

In [3]:
data['Gender'] = data['Gender'].map({'Male' : 0,'Female' : 1})
data['Store Type'] = data['Store Type'].map({'Convenient Stores' : 1,'Superstore' : 2, 'Online': 3})
data.drop('CustomerID', axis=1, inplace=True)
data.dropna(inplace=True)
data

,Shopping Basket,Gender,Age,Store Type,Value Products,Brand Products,Top Fresco Products
0,48.81,0,26,1,8,2,1
1,33.44,1,33,2,6,5,1
2,131.57,0,56,3,35,8,12
3,20.02,0,27,1,0,1,1
4,95.54,1,55,3,38,18,20
...,...,...,...,...,...,...,...
70,75.23,1,53,2,9,14,5
71,97.21,1,43,2,18,9,10
72,77.65,1,46,2,10,10,9
73,128.67,1,48,2,41,15,19
74,137.39,0,47,3,26,16,9

In [6]:
X = data.drop('Shopping Basket', axis=1)
y = data['Shopping Basket']
y = np.where(data['Shopping Basket'] > 50, 1, 0)

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_standard = scaler.fit_transform(X)

In [8]:
X_train = X_standard[:60]
X_test = X_standard[60:]
y_train = y[:60]
y_test = y[60:]

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score

model_log_reg = LogisticRegression()
model_log_reg.fit(X_train, y_train)

y_pred_log_reg = model_log_reg.predict(X_test)
print(f"Prediction:\n {y_pred_log_reg}")

accuracy_log_reg = accuracy_score(y_test, y_pred_log_reg)
precision_log_reg = precision_score(y_test, y_pred_log_reg)
recall_log_reg = recall_score(y_test, y_pred_log_reg)

print("Accuracy: ", accuracy_log_reg)
print("Precision: ", precision_log_reg)
print("Recall: ", recall_log_reg)


coefficients = model_log_reg.coef_

# In ra cÃ¡c há»‡ sá»‘
print("Coeficients:")
for coef in coefficients:
    print(f"{coef} ")

Prediction:
 [0 0 0 1 0 0 0 0 1 1 1 1 1 1 1]
Accuracy:  1.0
Precision:  1.0
Recall:  1.0
Coeficients:
[-0.30308039  0.39648178  1.13318522  1.30609059  1.61268209  0.24113971]